[project]
name = "olympic-boxing-video-dataset"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gdown>=5.2.0",
    "opencv-python-headless>=4.12.0.88",
]
